
.empty{
  text-align: center;
}


.empty ion-avatar{
  margin: auto;
  width: 500px;
  height: 500px;
}

.empty ion-label{
  font-size: 50px;
}

ion-card{
  height: 500px;
}
.produtoLogo{
  width: 100%;
  height: 275px;
}

ion-button{
  margin: 2%;
  width: 45%;
  height: 50px;
}

ion-card-content{
  height: 50px;
}
